<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:block th:replace="~{base :: styles}"></th:block>
</head>
<body>
    <div th:replace="~{base :: sidebar}"></div>

    <!-- Page content -->
    <div class="content">


        <div class="alert alert-success" th:if="${param.deleteSuccess}" role="alert">
            Xóa thành công!
        </div>
        <div class="alert alert-danger" th:if="${param.deleteError}" role="alert">
            Xóa thất bại!
        </div>

        <!--Thay đổi-->
        <h1 class="text-center text-primary" th:text="${g_list_item_menu['/' + name]}"></h1>

        <!--Thay đổi-->
        <a th:href="@{${g_prefix + '/' + name + '/add'}}" class="btn btn-success mt-1">Thêm</a>     
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Id phiếu nhập</th>
                    <th>Sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="i : ${list}">

                    <td th:text="${i.id}"></td>
                    <td th:text="${i.receiptImportId.id}"></td>
                    <td th:text="${i.productId.Id + ' - ' + i.productId.name}"></td>
                    <td th:text="${i.amount}"></td>
                    <td th:text="${i.price}"></td>



                    <td>
                        <a th:href="@{${g_prefix + '/' + name + '/' + i.id}}" class="btn btn-info" th:utext="${g_icons['update']}"></a>
                        <a th:href="@{${g_prefix + '/' + name + '/delete/' + i.id}}" 
                           class="btn btn-danger"
                           onclick="return confirm('Bạn có chắc chắn muốn xóa dữ liệu này?');"
                           th:utext="${g_icons['delete']}">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
                <!--Phân trang-->
        <div th:replace="~{pagination :: pagination}"></div>
    </div>




</body>
</html>

