<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:block th:replace="~{base :: styles}"></th:block>
</head>
<body>
    <div th:replace="~{base :: sidebar}"></div>

    <!-- Page content -->
    <div class="content">


        <div class="alert alert-success" th:if="${param.deleteSuccess}" role="alert">
            Xóa thành công!
        </div>
        <div class="alert alert-danger" th:if="${param.deleteError}" role="alert">
            Xóa thất bại!
        </div>

        <!--Thay đổi-->
        <h1 class="text-center text-primary" th:text="${g_list_item_menu['/' + name]}"></h1>

        <!--Tìm kiếm-->
        <form th:action="@{${g_prefix + '/' + name}}">
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" name="kw" placeholder="Mã phiếu nhập =" />
            </div>
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" name="kw2" placeholder="Mã phiếu xuất =" />
            </div>
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" name="kw3" placeholder="Tên kho nhập=" />
            </div>
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" name="kw4" placeholder="Tên kho xuất=" />
            </div>
            <div class="mb-3 mt-3">
                <input type="date" class="form-control" name="kw5" placeholder="Ngày =" />
            </div>
            <div class="mb-3 mt-3">
                <button class="btn btn-info" type="submit">Tìm kiếm</button>
            </div>
        </form>
        <!--Thay đổi-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Id phiếu nhập</th>
                    <th>Id phiếu xuất</th>
                    <th>Sản phẩm</th>
                    <th>Kho Nhập</th>
                    <th>Kho Xuất</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Ngày</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="i : ${list}">

                    <td th:text="${i.id}"></td>
                    <td th:text="${i.receiptImportId != null ? i.receiptImportId.id : 'null'}"></td>
                    <td th:text="${i.receiptExportId != null ? i.receiptExportId.id : 'null'}"></td>
                    <td th:text="${i.productId != null ? i.productId.name : 'null'}"></td>
                    <td th:text="${i.receiptImportId != null ? i.receiptImportId.warehouseId.name : 'null'}"></td>
                    <td th:text="${i.receiptExportId != null ? i.receiptExportId.warehouseId.name : 'null'}"></td>
                    <td th:text="${i.amount}"></td>
                    <td th:text="${i.price}"></td>
                    <td th:text="${i.createDate}"></td>



                </tr>
            </tbody>
        </table>
        <!--Phân trang-->
        <div th:replace="~{pagination :: pagination}"></div>
    </div>




</body>
</html>

