<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:block th:replace="~{base :: styles}"></th:block>
</head>
<body>
    <div th:replace="~{base :: sidebar}"></div>

    <!-- Page content -->
    <div class="content">
        <div class="container mt-3">
            <div class="row text-center">
                <div class="col-md-4 mb-3">
                    <div class="p-3 border rounded shadow-sm">Ô 1</div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="p-3 border rounded shadow-sm">Ô 2</div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="p-3 border rounded shadow-sm">Ô 3</div>
                </div>
            </div>
        </div>

    </div>




</body>
</html>

