<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:block th:replace="base :: styles"></th:block>
</head>
<body>
    <div th:replace="base :: sidebar"></div>

    <!-- Page content -->
    <div class="content">
        <div class="alert alert-success" th:if="${param.success}" role="alert">
            Cập nhật thành công!
        </div>
        <div class="alert alert-danger" th:if="${param.error}" role="alert">
            Cập nhật thất bại!
        </div>
        <h1 class="text-center text-info mt-1">Cập nhật danh mục</h1>
        <a th:href="@{/categories}" class="btn btn-primary mt-1">Quay lại</a>

        <form th:action="@{/categories/update}" th:object="${category}" method="post"
              onsubmit="return confirm('Bạn có chắc chắn muốn cập nhật dữ liệu này?');">
            <input type="hidden" th:field="*{id}"/>
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" th:field="*{name}" placeholder="Tên danh mục" />
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
        </form>
    </div>




</body>
</html>

