<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:block th:replace="~{base :: styles}"></th:block>
</head>
<body>
    <div th:replace="~{base :: sidebar}"></div>

    <!-- Page content -->
    <div class="content">
        <div class="alert alert-success" th:if="${param.addSuccess}" role="alert">
            Thêm mới thành công!
        </div>
        <div class="alert alert-danger" th:if="${param.addError}" role="alert">
            Thêm mới thất bại!
        </div>
        <div class="alert alert-success" th:if="${param.updateSuccess}" role="alert">
            Cập nhật thành công!
        </div>
        <div class="alert alert-danger" th:if="${param.updateError}" role="alert">
            Cập nhật thất bại!
        </div>
        <!-- Thay đổi -->
        <h1 class="text-center text-info mt-1" th:text="${g_list_item_menu['/' + name]}"></h1>

        <a class="btn btn-primary" th:href="@{${g_prefix + '/' + name}}">Quay lại</a>

        <form th:action="@{${g_prefix + '/' + name + (object.id != null ? '/update' : '/add')}}"
              th:object="${object}" method="post"
              onsubmit="return confirm('Bạn có chắc chắn muốn thực hiện thao tác này?');">
            <input type="hidden" th:if="${object.id != null}" th:field="*{id}"/>

            <div class="input-group mb-3 mt-3">
                <span class="input-group-text">Sản phẩm</span>
                <select class="form-select" th:field="*{productId}">
                    <option th:each="c:${list_product}" th:value="${c.id}" th:text="${c.id + ' - ' + c.name}"></option>
                </select>
                <a th:href="@{${g_prefix + '/' + 'product' + '/add'}}" class="btn btn-success mt-1">Thêm</a>  
            </div>
            <div class="input-group mb-3 mt-3">
                <span class="input-group-text">Kho</span>
                <select class="form-select" th:field="*{warehouseId}">
                    <option th:each="c:${list_warehouse}" th:value="${c.id}" th:text="${c.id + ' - ' + c.name}"></option>
                </select>
                <a th:href="@{${g_prefix + '/' + 'warehouse' + '/add'}}" class="btn btn-success mt-1">Thêm</a>  
            </div>
            <div class="input-group mb-3 mt-3">
                <span class="input-group-text">Số lượng</span>
                <input type="number" class="form-control" th:field="*{amount}" required min = 0 step = 1/>
            </div>
            <div class="input-group mb-3 mt-3">
                <span class="input-group-text">Hạn mức tồn</span>
                <input type="number" class="form-control" th:field="*{min}" required min = 0 step = 1/>
            </div>
            <div class="input-group mb-3 mt-3">
                <span class="input-group-text">Hạn sử dụng</span>
                <input type="date" class="form-control" th:field="*{useDate}" required />
            </div>
            <button type="submit" class="btn btn-primary">[[${object.id} != null ? 'Cập nhật' : 'Thêm mới']]</button>
        </form>

    </div>




</body>
</html>

