<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:block th:replace="base :: styles"></th:block>
</head>
<body>
    <div th:replace="base :: sidebar"></div>

    <!-- Page content -->
    <div class="content">
        <div class="alert alert-success" th:if="${param.addSuccess}" role="alert">
            Thêm mới thành công!
        </div>
        <div class="alert alert-danger" th:if="${param.addError}" role="alert">
            Thêm mới thất bại!
        </div>
        <div class="alert alert-success" th:if="${param.updateSuccess}" role="alert">
            Cập nhật thành công!
        </div>
        <div class="alert alert-danger" th:if="${param.updateError}" role="alert">
            Cập nhật thất bại!
        </div>
        <!-- Thay đổi -->
        <h1 class="text-center text-info mt-1">Sản phẩm</h1>

        <a class="btn btn-primary" th:href="@{/products}">Quay lại</a>

        <form th:action="@{${object.id} != null ? '/products/update' : '/products/add'}"
              th:object="${object}" method="post"
              onsubmit="return confirm('Bạn có chắc chắn muốn thực hiện thao tác này?');">
            <input type="hidden" th:if="${object.id != null}" th:field="*{id}"/>

            <div class="mb-3 mt-3">
                <input type="text" class="form-control" th:field="*{name}" placeholder="Tên mục đích" required/>
            </div>
            <div class="mb-3 mt-3">
                <input type="number" class="form-control" th:field="*{price}" min="0" step="1" placeholder="Giá" required/>
            </div>
            <div class="mb-3 mt-3">
                <select class="form-select" th:field="*{categoryId}">
                    <option th:each="c:${g_categories}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </div>
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" th:field="*{note}" placeholder="Ghi chú" required/>
            </div>
            <button type="submit" class="btn btn-primary">[[${object.id} != null ? 'Cập nhật' : 'Thêm mới']]</button>
        </form>

    </div>




</body>
</html>

