<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ</title>
    <th:block th:replace="~{base :: styles}"></th:block>
</head>
<body>
    <div th:replace="~{base :: sidebar}"></div>

    <!-- Page content -->
    <div class="content">
        <div class="alert alert-success" th:if="${param.addSuccess}" role="alert">
            Thêm mới thành công!
        </div>
        <div class="alert alert-danger" th:if="${param.addError}" role="alert">
            Thêm mới thất bại!
        </div>
        <div class="alert alert-success" th:if="${param.updateSuccess}" role="alert">
            Cập nhật thành công!
        </div>
        <div class="alert alert-danger" th:if="${param.updateError}" role="alert">
            Cập nhật thất bại!
        </div>
        <!-- Thay đổi -->
        <h1 class="text-center text-info mt-1" th:text="${g_list_item_menu['/' + name]}"></h1>

        <a class="btn btn-primary" th:href="@{${g_prefix + '/' + name}}">Quay lại</a>

        <form th:action="@{${g_prefix + '/' + name + (object.id != null ? '/update' : '/add')}}"
              th:object="${object}" method="post"
              onsubmit="return confirm('Bạn có chắc chắn muốn thực hiện thao tác này?');"
              enctype="multipart/form-data">
            <input type="hidden" th:if="${object.id != null}" th:field="*{id}"/>

            <div class="input-group mb-3 mt-3">
                <span class="input-group-text">Tên sản phẩm</span>
                <input type="text" class="form-control" th:field="*{name}" required/>
            </div>
            <div class="input-group mb-3 mt-3">
                <span class="input-group-text">Nhà cung cấp</span>
                <select class="form-select" th:field="*{supplierId}">
                    <option th:each="c:${g_list_supplier}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
                <a th:href="@{${g_prefix + '/' + 'supplier' + '/add'}}" class="btn btn-success mt-1">Thêm</a>  
            </div>
            <div class="input-group mb-3 mt-3">
                <span class="input-group-text">Giá</span>
                <input type="number" class="form-control" th:field="*{price}" required min=0 step=1/>
            </div>
            <div class="input-group mb-3 mt-3">
                <span class="input-group-text">Danh mục</span>
                <select class="form-select" th:field="*{categoryId}">
                    <option th:each="c:${g_list_category}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
                <a th:href="@{${g_prefix + '/' + 'category' + '/add'}}" class="btn btn-success mt-1">Thêm</a>  
            </div>
<!--            <div class="input-group mb-3 mt-3">
                <span class="input-group-text">Ảnh</span>
                <input type="file" class="form-control" th:field="*{file}" />
            </div>-->
            <div class="input-group mb-3 mt-3">
                <span class="input-group-text">Ghi chú</span>
                <input type="text" class="form-control" th:field="*{note}" />
            </div>
            <button type="submit" class="btn btn-primary">[[${object.id} != null ? 'Cập nhật' : 'Thêm mới']]</button>
        </form>

    </div>




</body>
</html>

